.header {
  background-color: rgb(25, 118, 210);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  font-size: 1.25rem;
  line-height: 1.6;
  color: white;
  font-family: monospace;
  font-weight: 900;
  letter-spacing: 0.3rem;
}

.registerWrapper {
  margin-right: 3%;
  width: 7rem;
  color: white;
  font-family: monospace;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
